@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0
}
body{
   background-image: url(https://st.depositphotos.com/1010597/1769/i/950/depositphotos_17692715-stock-photo-take-a-walk-with-the.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
